#breedsSelect {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(194, 211, 255);
  color: rgb(88, 107, 156);
  padding: 0 20px;
  font-size: 20px;
  border-radius: 5px;
}

.inputCat {
  border: 1px solid rgb(194, 211, 255);
  color: rgb(88, 107, 156);
  background: #fff;
  width: 100%;
  height: 47px;
  padding: 0 15px;
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.btnOutside .button {
  width: 100%;
}

.btnOutside .button.send {
  width: 100px;
}

#breedsSelect:focus {
  outline: none;
}

.button {
  border: 1px solid rgb(194, 211, 255);
  color: rgb(88, 107, 156);
  background: #fff;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 10px;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.root .tabs {
  display: flex;
  margin-bottom: 20px;
}

.root .tabs .button {
  margin: 0 10px;
  height: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  width: 70px;
}

.root .tabs .button.active {
  border: 1px solid rgb(130, 153, 212);
  color: rgb(130, 155, 220);
  background: rgb(225, 233, 255);
}

.card {
  width: 50%;
  height: 50%;
  background: #fff;
  box-shadow: 0px 0px 22px 1px rgb(0 0 0 / 20%);
  border-radius: 5px;
  display: grid;
  padding: 10px;
  box-sizing: border-box;
}

.card .col {
  width: 100%;
  height: 50px;
  display: flex;
}

.card .col .button {
  margin-left: 20px;
  height: 100%;
  width: 70px;
}

.card .img {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(194, 211, 255);
  object-fit: contain;
  border-radius: 5px;
}

.card.none {
  display: none;
}

.card .btnOutside {
  display: flex;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.spin {
  display: 'none';
  background: linear-gradient(90deg , #d3e8ff, #556679, #dcecff);
  width: 0%;
  height: 7px;
  animation: loading .8s ease infinite;
  position: relative;
}